{{#each article as |article|}}

  <div class='row'>

    <div class='container articleBox'>
      <div class='row justify-content-center headerRow'>
        <div class='col-8'>
          <h2>
            <a
              class='articleTitle text-uppercase'
              href='/article/{{article.id}}'
            >{{article.name}}</a>
          </h2>
        </div>

        <div class='col-4'>
          <p class='articleCreate text-right'>Created by
            {{article.user.username}}
            on
            {{format_date article.date_created}}
          </p>
        </div>
      </div>
      <div class='articleDesc'>
        <p class='text-center articleDescMain'>
          {{article.description}}
        </p>
      </div>
    </div>

  </div>

{{/each}}